
@media (max-width: 1650px) {
    .section-content-right {
        .main-content {
            .main-content-inner {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
}

@media (max-width: 1440px) {
    .wg-chart-default,
    .wg-box {
        padding: 24px 15px;
    }
    .tf-section-4 {
        > div {
            grid-column: span 2 / span 2 !important;
        }
    }
    .tf-section-3 {
        grid-template-columns: repeat(4,minmax(0,1fr));
        > div {
            &:nth-child(2),
            &:nth-child(1) {
                grid-column: span 2 / span 2 !important;
            }
            &:nth-child(3) {
                grid-column: span 4 / span 4 !important;
            }
        }
    }
    .tf-section-5 {
        > div {
            &:nth-child(1) {
                grid-column: span 8 / span 8 !important;
            }
            &:nth-child(2) {
                grid-column: span 4 / span 4 !important;
            }
            &:nth-child(3) {
                grid-column: span 4 / span 4 !important;
            }
        }
    }
    .all-gallery-wrap {
        flex-wrap: wrap;
        .right {
            max-width: unset;
            .image {
                text-align: center;
            }
        }
    }
}

@media (max-width: 1200px) {
    .tf-section-5 {
        > div {
            &:nth-child(2),
            &:nth-child(3) {
                grid-column: span 8 / span 8 !important;
            }
        }
    }
    .tf-section-3 {
        > div {
            &:nth-child(2),
            &:nth-child(1) {
                grid-column: span 4 / span 4 !important;
            }
        }
    }
    .tf-section-2 {
        > div {
            grid-column: span 2 / span 2 !important;
        }
    }
    .tf-section-7 {
        > div {
            &:nth-child(2),
            &:nth-child(1) {
                grid-column: span 3 / span 3 !important;
            }
        }
    }
    .tf-section-6 {
        > div {
            &:nth-child(2),
            &:nth-child(1) {
                grid-column: span 8 / span 8 !important;
            }
        }
    }
    .all-gallery-wrap {
        .left {
            .wrap-gallery-item {
                @include grid(3,1fr,24px,14px);
            }
        }
    }
    .form-style-2 { 
        .left {
            max-width: 150px !important;
        }
    }
}

@media (max-width: 991px) {
    .section-menu-left {
        left: -100%;
        &.active {
            left: 0;
        }
        .button-show-hide {
            transform: rotate(180deg);
            &.active {
                transform: rotate(0deg);
            }
        }
    }
    .section-content-right {
        .main-content {
            padding-left: 0;
        }
        .header-dashboard {
            .wrap {
                justify-content: flex-end;
                .header-search {
                    display: none;
                }
                .header-grid {
                    > .user,
                    > .button-zoom-maximize,
                    > .message,
                    > .noti,
                    > .country {
                        display: none;
                    }
                }
            }
        }
    }
    .tf-section-6 {
        > div {
            &:nth-child(1) {
                grid-column: span 8 / span 8 !important;
            }
            &:nth-child(2) {
                grid-column: span 8 / span 8 !important;
            }
        }
    }
}

@media (max-width: 767px) {
    .form-style-1 {
        > * {
            flex-wrap: wrap;
            > * {
                &:last-child {
                    width: 100%;
                }
            }
        }
    }
    .form-style-2 {
        > * {
            flex-wrap: wrap;
        }
    }
    .wg-order-detail {
        flex-wrap: wrap;
        .right {
            max-width: unset;
        }
    }
    .wg-filter,
    .order-track {
        flex-wrap: wrap;
    }
    .all-gallery-wrap {
        .left {
            .wrap-gallery-item {
                @include grid(1,1fr,24px,14px);
            }
        }
    }
    .form-style-2 { 
        .left {
            max-width: unset !important;
        }
    } 
}

@media (max-width: 600px) {
    .tf-section-4 {
        > div {
            grid-column: span 4 / span 4 !important;
        }
    }
    .w-half {
        width: 100% !important;
    }
    form {
        .cols {
            flex-wrap: wrap;
        }
    }
    .flex-wrap-mobile,
    .upload-image {
        flex-wrap: wrap;
    }
    .road-map {
        flex-wrap: wrap;
        gap: 30px;
        .road-map-item {
            &::before {
                display: none;
            }
        }
    }
    .mobile-wrap {
        flex-wrap: wrap;
    }
    .wrap-login-page {
        padding-top: 30px;
        padding-left: 15px;
        padding-right: 15px;
    }
}