.tf-button {
    width: max-content;
    height: 50px;
    padding: 15px 22px;
    color: #FFF;
    @include flex(center,center);
    gap: 8px;
    font-family: $font-main-family;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    border: 1px solid var(--Main);
    border-radius: 12px;
    background-color: var(--Main);
    background-size: 100%;
    @include transition3();
    &:hover {
        color: var(--Main);    
        background-color: var(--White);
    }
    i {
        font-size: 20px;
    }
    &.style-1 {
        color: var(--Main);    
        background-color: var(--White);
        &:hover {
            color: var(--White);    
            background-color: var(--Main);
        }
    }
    &.style-2 {
        color: var(--Body-Text);    
        background-color: var(--White);
        border-color: var(--Input);
        &:hover {
            color: var(--White);    
            background-color: var(--Main);
        }
    }
    &.w208 {
        width: 208px;
    }
}
