.main-content {
    padding-top: 80px;
    padding-left: 280px;
    background: #F2F7FB;
    .main-content-wrap {
        padding: 30px 13px 30px 30px;
    }
    .bottom-page {
        @include flex(center,center);
        padding: 24px 8px 8px 24px;
        gap: 10px;
        background: var(--White);
        box-shadow: 0px 4px 24px 2px rgba(20, 25, 38, 0.05);
        i {
            font-size: 16px;
            color: var(--Style);
        }
        a {
            color: var(--Main);
            &:hover {
                color: var(--Style);
            }
        }
    }
}

.tf-section-1 {
    display: grid !important;
    gap: 30px 20px;
    grid-template-columns: repeat(1,minmax(0,1fr));
}

.tf-section-2 {
    display: grid !important;
    gap: 30px 20px;
    grid-template-columns: repeat(2,minmax(0,1fr));
}

.tf-section-3 {
    display: grid !important;
    gap: 30px 20px;
    grid-template-columns: repeat(3,minmax(0,1fr));
}

.tf-section-4 {
    display: grid !important;
    gap: 30px 20px;
    grid-template-columns: repeat(4,minmax(0,1fr));
}

.tf-section-5 {
    display: grid !important;
    gap: 30px 20px;
    grid-template-columns: repeat(8,minmax(0,1fr));
    > div {
        &:nth-child(2) ,
        &:nth-child(1) {
            grid-column: span 3 / span 3 !important;
        }
        &:nth-child(3) {
            grid-column: span 2 / span 2 !important;
        }
    }
}

.tf-section-6 {
    display: grid !important;
    gap: 30px 20px;
    grid-template-columns: repeat(8,minmax(0,1fr));
    > div {
        &:nth-child(1) {
            grid-column: span 3 / span 3 !important;
        }
        &:nth-child(2) {
            grid-column: span 5 / span 5 !important;
        }
    }
}